.bg-lightblue {
    background-color: rgb(112, 157, 242);
}

.company-name {
    color:rgb(10, 10, 71);
}

.bg-lilac {
    background-color: rgb(220, 206, 250);
    color:rgb(64, 31, 95);
}

.border-line {
    border-bottom: 2px solid purple;
    border-top: 2px solid purple;
    background-color: rgb(227, 179, 227);
    color: rgb(67, 14, 67);
}

.icon {
    font-size: 3rem;
}

.border-blue {
    border-bottom: 2px solid rgb(31, 31, 118);
}

.border-blue-footer {
    border-top: 2px solid rgb(31, 31, 118);
}

.bg-light-violet {
    background-color: rgb(200, 190, 210);
}

.table {
    font-size: 0.75rem;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }